.container {
    height: 599px;
    width: 100%;
    background-image: url("./projectimg/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.navi>ul {
    display: flex;
    background-color: rgb(3, 3, 3);
    height: 32px;
    padding: 20px;
    z-index: -9;
    opacity: .6;
}

.list {
    list-style: none;
    margin-left: 10px;

}

a {
    color: white;
    font-weight: 400;
    font-size: x-large;
    text-decoration: none;
    padding: 29px;

}

.list:hover {
    background-color: rgb(223, 72, 39);
    border-radius: 8px;
}

.text {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-left: 333px;
    margin-top: 88px;
}

h2 {
    font-size: 54px;
    font-weight: 200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.order {
    color: rgb(6, 7, 7);
    background-color: orangered;
    border: 2px solid rgb(253, 250, 250);
    border-radius: 5px;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.order:hover {
    background-color: floralwhite;
    cursor: pointer;
}

.text p {
    font-size: 22px;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}

.first {
    width: 289px;
    height: 337px;
    background-color: rgb(223, 209, 209);
    border: 2px solid rgb(226, 5, 5);
    border-radius: 8px;
    padding: 33px;
}

h1 {
    font-size: 33px;
    font-weight: bolder;
    text-align: center;
    padding: 11px;
}

.first img {
    width: 232px;
    height: 133px;
    position: relative;
    margin-left: 22px;
}

.first p {
    font-size: 19px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
}

.first h3 {
    font-size: 28px;
    text-align: center;
    font-weight: bolder;
    font-family: sans-serif;
}

.second {
    width: 289px;
    height: 337px;
    background-color: rgb(223, 209, 209);
    border: 2px solid rgb(226, 5, 5);
    border-radius: 8px;
    padding: 33px;
}

.second img {
    width: 232px;
    height: 133px;
    position: relative;
    margin-left: 22px;
}

.second p {
    font-size: 19px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
}

.second h3 {
    font-size: 28px;
    text-align: center;
    font-weight: bolder;
    font-family: sans-serif;
}

.third {
    width: 289px;
    height: 337px;
    background-color: rgb(223, 209, 209);
    border: 2px solid rgb(226, 5, 5);
    border-radius: 8px;
    padding: 33px;
}

.third img {
    width: 232px;
    height: 133px;
    position: relative;
    margin-left: 22px;
}

.third p {
    font-size: 19px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
}

.third h3 {
    font-size: 28px;
    text-align: center;
    font-weight: bolder;
    font-family: sans-serif;
}

.service {
    display: flex;
    justify-content: space-around;
}

.middle_image h2 {
    text-align: center;
    font-weight: bolder;
}

.middle_image {
    height: 333px;
    width: 100%;
    background-image: url(./projectimg/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    top: 81px;
    margin-bottom: 33px;
    /*  opacity: .8;
    z-index: 2;
     */
}

.apple_logo {
    height: 212px;
    width: 299px;
    padding: 12px;
    margin-left: 22px;

}

.last_image {
    width: 100%;
    height: 655px;
    background-image: url(./projectimg/contact.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    top: 11px;
}

.last_image>h1 {
    font-size: 28px;
    overflow: hidden;
}

.last_image {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.texta {
    overflow: hidden;

}

footer {

    background-color: black;
    width: 100%;
    height: 45px;
}

.center {
    text-align: center;
    position: relative;
    top: 21px;
    color: white;
}